
.navbar{
    width: 100%;
    height: 12vh;
    background-color: var(--primary);
}

.right{
    margin-right:auto !important;
}

ul{
    padding-top: 5%vh;
}

.m5 {
    margin-left: 2vh;
}

.muted{
    font-family: "PT Sans";
    font-weight: 100;
    font-size: 2vh;
}

.name{
    font-family: "Wild World";
    font-size: 3vh;
}

.info .muted{
    margin-bottom: 0;
}

i{
    color: whitesmoke;
}