.nav-tabs{
    border: 0;
}

.nav-link{
    color: whitesmoke;
    font-family:"Wild World" ;
    font-size: 2.5vh;
    text-transform: uppercase;
    margin: 1vh;
    letter-spacing: 1px;
}

.nav{
    --bs-nav-link-hover-color: var(--primary);
}

.nav-link.active{
    background-color: transparent !important;
    color: var(--primary) !important;
    border-width: 0 0 4px;
    border-color: var(--primary)!important;
}

.search{
    border-radius: 50px !important;
    border:1px solid var(--primary) !important;
    background-color: transparent !important;
}

input{
    background-color: transparent !important;
    border: 0 !important;
}

.input-group-text{
    background-color: transparent;
    border: 0px;
}

i{
    color: var(--primary);
}

.btn-search{
    background-color: transparent;
    border: 0;
    padding: 0;
}

.modal {
    --bs-modal-bg: var(--secondary);
    box-shadow: 1px #fff;
    color: whitesmoke;
}

h1{
    font-size: 3vh;
}

h2{
    font-size: 2.5vh;
    font-family: "PT Sans";
    color: var(--auxiliar);
    width: 100%; 
    text-align: left; 
    border-bottom: 2px solid var(--auxiliar); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

span{
    background-color: var(--secondary);
    padding-right: 2vh;
}

.modal-header{
    background-color: var(--primary);
    border: 0px;
}

.modal-footer{
    border: 0;;
}

.cadastro label{
    font-size: 2vh;
    font-family: "PT Sans";
    text-transform: none;
    letter-spacing: 1px;
    color:whitesmoke;
}

input{
    color: whitesmoke  !important;
    border-radius: 50px !important;
    border:1px solid var(--primary) !important;
    background-color: transparent !important;
}

.search input{
    border: 0px !important;
}

.file input{
    border: 0px !important;
}

.file .input-group{
    border: 1px solid var(--auxiliar) !important;
    border-radius: 50px;
}

.input-group span{
    color: whitesmoke;
}
.file i{
    color: whitesmoke;
}

.file .input-group-prepend button{
    border: 0px;
    background-color: var(--auxiliar);
    border-radius: 50px 0 0 50px ;
    padding: 1px;
}

.cadastro .form-select{
    background-color: var(--auxiliar);
    border: 1px solid var(--auxiliar);
    border-radius: 50px;
    color: whitesmoke;
}

.btn-modal button{
    font-size: 1.5vh;
}